.gradle
build/
.idea
*.iml
local.properties
.kotlin
.DS_Store
*.swp
*~
.idea/workspace.xml
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/deploymentTargetDropDown.xml
.idea/navEditor.xml
captures/
.externalNativeBuild
.cxx
.navigation
.vercel
scratch/
